APP_NAME=myray.app
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://myray.app

LOG_CHANNEL=stack
LOG_STACK=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=myray
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=phpredis

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

GITHUB_ACCESS_TOKEN=

PURCHASABLE_ID=15

RAY_LIFETIME_OFFER_START=
RAY_LIFETIME_OFFER_END=
