.docs-content {
    font-size: .9rem;
    font-weight: 400;

    & h1, & h2, & h3, & h4, & h5, & h6, & p, & ul, & ol {
        max-width: 680px;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
        font-weight: 700;
        margin-bottom: 1rem;

        background: -webkit-linear-gradient(bottom left, theme('colors.indigo.900'), theme('colors.indigo.500'));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover:not(a) {
            background: transparent;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;

            & .heading-permalink {
                cursor: pointer;
                display: inline-block;
                margin-left: .5rem;
                color: #8E80B1;
                font-weight: 400;
                position: relative;
            }
        }

        & .heading-permalink {
            display: none;
        }
    }

    & h2, & h3, & h4, & h5, & h6 {
        margin-top: 2rem;
    }

    & h1 {
        font-size: 2.3rem;
    }

    & h2 {
        font-size: 1.8rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & > div {
        display: flex;
        justify-content: space-between;

        & > article {
            max-width: 740px;
        }
    }

    & .table-of-contents {
        min-width: 220px;
        margin-left: 100px;
        font-size: .7rem;

        & h2 {
            font-size: .7rem;
            margin-bottom: .5rem;
        }

        & li {
            margin-bottom: .5rem;
        }
    }

    & .shiki {
        margin-bottom: 1rem;
        padding: 1.25rem;
        font-size: .7rem;
        border-radius: 4px;
    }
}
