@import "./nav.css";
@import "./content.css";

.search-results {
    & em {
        font-weight: bold;
        font-style: normal;
    }
}

.copy-tooltip {
    background: #4D00C9;
    color: white;
    font-size: .5rem;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    padding: .5rem;
    white-space: nowrap;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border: solid transparent;
        border-width: 4px;
        margin-left: -4px;
        border-top-color: #4D00C9;
    }
}
