body.docs .docs-navigation {
    width: 300px;
    font-size: .8rem;

    & > ul > li {
        margin-bottom: 1.5rem;

        & > ul > li {
            padding-left: 1rem;
            margin-bottom: 1rem;

            & > ul > li {
                padding-left: 1rem;
            }
        }
    }
}
