@import "./bootstrap.css";
@import "./badges.css";
@import "./buttons.css";
@import "./markup.css";
@import "./components/animation.css";
@import "./views/docs.css";
@import "./views/teaser.css";

@import "./utilities/highlight.css";

[x-cloak] {
    display: none !important;
}

.orange-text-glow {
    text-shadow: 0px 0px 12px #FF6C009C;
}

.bottom-gradient {
    position: relative;
}

.bottom-gradient::after {
    @apply bg-gradient-to-t from-midnight-extra-light to-midnight;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    pointer-events: none;
    z-index: -1;
}
