@import "./bootstrap.css";

@import "./utilities/markup.css";
@import "./utilities/ray.css";

.text-gradient {
  background: -webkit-linear-gradient(bottom left, theme('colors.indigo.900'), theme('colors.indigo.500'));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.background-01 {
  opacity: 0;
  transform-origin: 0 50%;
  animation: background-appear-left .2s 0.3s ease-out forwards;
}

.background-02 {
  opacity: 0;
  transform-origin: 100% 50%;
  animation: background-appear-right .2s 0.6s ease-out forwards;
}




@keyframes background-appear-left {
  0%{
      opacity: 0;
      transform: translate(-100%, -42%);
  }
  100%{
      opacity: 1;
      transform: translate(0, 0);
  }
}

@keyframes background-appear-right {
  0%{
      opacity: 0;
      transform: translate(100%, -50%);
  }
  100%{
      opacity: 1;
      transform: translate(0, 0);
  }
}

.tooltip-reveal{
  @apply opacity-0;
  @apply transition-all;
  @apply duration-500;
  @apply delay-500;
  @apply bg-indigo-500;

}

.group:hover .tooltip-reveal {
  @apply opacity-10;

}

.tooltip-hover {
  @apply opacity-0;
  @apply bg-indigo-500;
  @apply bg-opacity-50;
  @apply transition-opacity;
  @apply duration-300;
}

.tooltip-hover:hover {
  @apply opacity-25 !important;
}

body.docs .docs-navigation {
    width: 300px;
    font-size: .8rem;

    & > ul > li {
        margin-bottom: 1.5rem;

        & > ul > li {
            padding-left: 1rem;
            margin-bottom: 1rem;

            & > ul > li {
                padding-left: 1rem;
            }
        }
    }
}

.docs-content {
    font-size: .9rem;
    font-weight: 400;

    & h1, & h2, & h3, & h4, & h5, & h6, & p, & ul, & ol {
        max-width: 680px;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
        font-weight: 700;
        margin-bottom: 1rem;
    }

    & h2, & h3, & h4, & h5, & h6 {
        margin-top: 2rem;
    }

    & h1 {
        font-size: 2.3rem;
    }

    & h2 {
        font-size: 1.8rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & > div {
        display: flex;
        justify-content: space-between;

        & > article {
            max-width: 740px;
        }
    }

    & .table-of-contents {
        min-width: 220px;
        margin-left: 100px;
        font-size: .7rem;

        & h2 {
            font-size: .7rem;
            margin-bottom: .5rem;
        }

        & li {
            margin-bottom: .5rem;
        }
    }
}
