@import "./bootstrap.css";
@import "./badges.css";
@import "./buttons.css";
@import "./markup.css";
@import "./components/animation.css";
@import "./views/docs.css";
@import "./views/teaser.css";

@import "./utilities/highlight.css";

[x-cloak] {
    display: none !important;
}

.orange-text-glow {
    text-shadow: 0px 0px 12px #FF6C009C;
}
