.docs-nav-items {
    margin: 0.5em 0;
}

.docs-nav-sub-category-item {
    padding: 0.0625em 0;
}

.docs-nav-sub-category-item>a {
    @apply text-bleak-purple-extra-light;
    @apply hover:text-white;
}

.docs-nav-sub-category-item>a.active {
    @apply text-white;
}

.docs-nav-item {
    @apply border-l;
    @apply border-white;
    @apply border-opacity-20;
    padding: 0.0625em 1rem;
}

.docs-nav-item>a {
    @apply text-bleak-purple-extra-light;
    @apply hover:text-white;
}

.docs-nav-item.active {
    @apply border-orange;
}

.docs-nav-item.active>a {
    @apply text-orange;
}

.docs-search-results-item em {
    font-weight: bold;
    font-style: normal;
}

.docs-toc {
    display: none;
}

.docs-toc ul li {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

.docs-toc ul li a {
    @apply text-bleak-purple-extra-light;
    @apply hover:text-white;
    @apply hover:underline;
}

.docs-toc:has(ul) {
    display: block;
}