/* Symphony stuff */
.pre-sql,
pre.sf-dump, pre.sf-dump .sf-dump-default {
    @apply bg-gray-300 !important;
    @apply bg-opacity-25 !important;
    @apply text-gray-500 !important;
    @apply rounded-sm;
    @apply px-3.5 !important;
    @apply py-1.5 !important;
}


pre.sf-dump .sf-dump-note {
    @apply text-indigo-600 !important;
}

pre.sf-dump .sf-dump-index {
    @apply text-indigo-600 !important;
}

pre.sf-dump .sf-dump-key,
pre.sf-dump .sf-dump-str {
    @apply text-green-500 !important;
}

pre.sf-dump .sf-dump-num {
    @apply text-blue-600 !important;
}

/* LogItem text sizes */

.ray-item-sm {
    margin-top: .1rem; /* optical tweak */
    @apply text-xs !important;
}

.ray-item-sm * {
    @apply text-xs !important;
}

.ray-item,
.ray-item * {
    @apply text-sm !important;
}

.ray-item-lg{
    margin-top: -.25rem; /* optical tweak */
    @apply text-lg !important;
}

.ray-item-lg *{
    @apply text-lg !important;
}

.ray-line-01 {

    opacity: 0;
}

.ray-line-02 {
    opacity: 0;
    transform-origin: 0 0;
}

.ray-line-03 {
    opacity: 0;
    transform-origin: 0 0;
}

.tag-outline {
    @apply p-1;
    @apply inline-block;
    @apply border ;
    @apply border-gray-400 ;
    @apply rounded-sm;
    @apply truncate ;
    @apply text-gray-600 ;
    @apply opacity-75 ;
    @apply leading-none;
}

.tag-outline.tag-outline-green {
    @apply border-green-400 ;
    @apply text-green-600 ;
}

.tag-outline.tag-outline-orange {
    @apply border-orange-400 ;
    @apply text-orange-600 ;
}

.tag-outline.tag-outline-red {
    @apply border-red-400 ;
    @apply text-red-600 ;
}

.tag-outline.tag-outline-purple {
    @apply border-purple-400 ;
    @apply text-purple-600 ;
}

.tag-outline.tag-outline-blue {
    @apply border-blue-400 ;
    @apply text-blue-600 ;
}
